.btn {
  border-width: 2px;
}
body {
  font-family: Jost;
}
.display-1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 4.6rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 5.75rem;
}
.display-2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 3rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.75rem;
}
.display-4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.375rem;
}
.display-5 {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.2rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.75rem;
}
.display-7 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.5rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.68rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.22rem;
    font-size: calc( 2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.88rem;
    font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.76rem;
    font-size: calc( 1.42rem + (2.2 - 1.42) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.42rem + (2.2 - 1.42) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #fd5b78 !important;
}
.bg-success {
  background-color: #40b0bf !important;
}
.bg-info {
  background-color: #292937 !important;
}
.bg-warning {
  background-color: #414257 !important;
}
.bg-danger {
  background-color: #ff9966 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #fd5b78 !important;
  border-color: #fd5b78 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #fc0531 !important;
  border-color: #fc0531 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #fc0531 !important;
  border-color: #fc0531 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
}
.btn-info,
.btn-info:active {
  background-color: #292937 !important;
  border-color: #292937 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #040405 !important;
  border-color: #040405 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #040405 !important;
  border-color: #040405 !important;
}
.btn-success,
.btn-success:active {
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #414257 !important;
  border-color: #414257 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #1c1c25 !important;
  border-color: #1c1c25 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #1c1c25 !important;
  border-color: #1c1c25 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #fd5b78;
  color: #fd5b78;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #fc0531 !important;
  background-color: transparent!important;
  border-color: #fc0531 !important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #fd5b78 !important;
  border-color: #fd5b78 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #ff6666;
  color: #ff6666;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ff0f0f !important;
  background-color: transparent!important;
  border-color: #ff0f0f !important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #292937;
  color: #292937;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #040405 !important;
  background-color: transparent!important;
  border-color: #040405 !important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #292937 !important;
  border-color: #292937 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #40b0bf;
  color: #40b0bf;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #2a747e !important;
  background-color: transparent!important;
  border-color: #2a747e !important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #414257;
  color: #414257;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #1c1c25 !important;
  background-color: transparent!important;
  border-color: #1c1c25 !important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #414257 !important;
  border-color: #414257 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: #ff9966;
  color: #ff9966;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ff5f0f !important;
  background-color: transparent!important;
  border-color: #ff5f0f !important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: #232323;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: #000000 !important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: #cfcfcf !important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #fd5b78 !important;
}
.text-secondary {
  color: #ff6666 !important;
}
.text-success {
  color: #40b0bf !important;
}
.text-info {
  color: #292937 !important;
}
.text-warning {
  color: #414257 !important;
}
.text-danger {
  color: #ff9966 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #ef032d !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #ff0000 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #266a73 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #000000 !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #15161d !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #ff5500 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #fd5b78;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #292937;
}
.alert-warning {
  background-color: #414257;
}
.alert-danger {
  background-color: #ff9966;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #fd5b78;
  border-color: #fd5b78;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #fd5b78;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #a0d8df;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #9595b0;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #7b7d9c;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
#scrollToTop a {
  border-radius: 100px;
}
.form-control {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.375rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #fd5b78 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.375rem;
}
blockquote {
  border-color: #fd5b78;
}
/* Forms */
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #fd5b78;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #fd5b78;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #fd5b78;
  border-bottom-color: #fd5b78;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #fd5b78 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #ff6666 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23fd5b78' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-t5rNA8tC6e {
  background-image: url("../../../assets/images/background15-2000x1335.webp");
}
.cid-t5rNA8tC6e .mbr-fallback-image.disabled {
  display: none;
}
.cid-t5rNA8tC6e .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-t5rNA8tC6e .social-row .soc-item {
  display: inline-block;
  text-align: center;
  margin-bottom: 1rem;
  margin-right: .7rem;
}
.cid-t5rNA8tC6e .social-row .soc-item .mbr-iconfont {
  font-size: 32px;
  border-radius: 50%;
  padding: 0.6rem;
  border: 2px solid #232323;
  transition: all 0.3s;
  color: #232323;
}
.cid-t5rNA8tC6e .social-row .soc-item .mbr-iconfont:hover {
  background-color: #232323;
  color: #ffffff;
}
.cid-t5rNA8tC6e .mbr-section-title {
  text-align: left;
}
.cid-t8KlsfXthw {
  background-color: #bed3f9;
}
.cid-t8KlsfXthw .mbr-fallback-image.disabled {
  display: none;
}
.cid-t8KlsfXthw .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-t8KlsfXthw .row {
  flex-direction: row-reverse;
}
@media (max-width: 991px) {
  .cid-t8KlsfXthw .image-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-t8KlsfXthw .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
@media (min-width: 992px) {
  .cid-t8KlsfXthw .text-wrapper {
    padding: 0 2rem;
  }
}
@media (max-width: 768px) {
  .cid-t8KlsfXthw .text-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-t8KmbTzPUo {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tDG6eYqUJZ {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tDG6eYqUJZ .mbr-fallback-image.disabled {
  display: none;
}
.cid-tDG6eYqUJZ .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tDG6eYqUJZ .item {
  padding-bottom: 2rem;
}
.cid-tDG6eYqUJZ .item-wrapper {
  position: relative;
}
.cid-tDG6eYqUJZ .item-wrapper .icon-wrapper {
  pointer-events: none;
  position: absolute;
  width: 60px;
  height: 60px;
  font-size: 22px;
  left: 50%;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #ffffff;
  border-radius: 50%;
  opacity: 0;
  color: #ffffff;
  transform: translateX(-50%) translateY(-50%);
  background-color: #1b1b1b;
  transition: 0.2s;
}
.cid-tDG6eYqUJZ .item-wrapper:hover .icon-wrapper {
  opacity: 0.7;
}
.cid-tDG6eYqUJZ .carousel-control,
.cid-tDG6eYqUJZ .close {
  background: #1b1b1b;
}
.cid-tDG6eYqUJZ .carousel-control-prev {
  margin-left: 2.5rem;
}
.cid-tDG6eYqUJZ .carousel-control-prev span {
  margin-right: 5px;
}
.cid-tDG6eYqUJZ .carousel-control-next {
  margin-right: 2.5rem;
}
.cid-tDG6eYqUJZ .carousel-control-next span {
  margin-left: 5px;
}
.cid-tDG6eYqUJZ .close {
  position: fixed;
  opacity: 0.5;
  font-size: 22px;
  font-weight: 300;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #fff;
  top: 2.5rem;
  right: 2.5rem;
  border: 2px solid #fff;
  text-shadow: none;
  z-index: 5;
  transition: opacity 0.3s ease;
  font-family: 'Moririse2';
  align-items: center;
  justify-content: center;
  display: flex;
}
.cid-tDG6eYqUJZ .close::before {
  content: '\e91a';
}
.cid-tDG6eYqUJZ .close:hover {
  opacity: 1;
  background: #000;
  color: #fff;
}
.cid-tDG6eYqUJZ .carousel-control {
  display: flex;
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
}
.cid-tDG6eYqUJZ .carousel-control.carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-tDG6eYqUJZ .carousel-control.carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-tDG6eYqUJZ .carousel-control {
    top: auto;
    bottom: 1rem;
  }
}
.cid-tDG6eYqUJZ .carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-bottom: 3px;
}
.cid-tDG6eYqUJZ .carousel-indicators li {
  max-width: 15px;
  height: 15px;
  width: 15px;
  max-height: 15px;
  margin: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: 0.5;
  transition: all 0.3s;
}
.cid-tDG6eYqUJZ .carousel-indicators li.active,
.cid-tDG6eYqUJZ .carousel-indicators li:hover {
  opacity: 0.9;
}
.cid-tDG6eYqUJZ .carousel-indicators li::after,
.cid-tDG6eYqUJZ .carousel-indicators li::before {
  content: none;
}
.cid-tDG6eYqUJZ .carousel-indicators.ie-fix {
  left: 50%;
  display: block;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
@media (max-width: 768px) {
  .cid-tDG6eYqUJZ .carousel-indicators {
    display: none !important;
  }
}
@media (max-width: 991px) {
  .cid-tDG6eYqUJZ .carousel-indicators {
    margin-bottom: 3.625rem !important;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
@media (max-width: 767px) {
  .cid-tDG6eYqUJZ .carousel-indicators {
    display: none;
  }
}
.cid-tDG6eYqUJZ .carousel-inner {
  display: flex;
  align-items: center;
}
.cid-tDG6eYqUJZ .carousel-inner > .active {
  display: block;
}
.cid-tDG6eYqUJZ .carousel-control.left {
  left: 0;
  margin-left: 2.5rem;
}
.cid-tDG6eYqUJZ .carousel-control.right {
  right: 0;
  margin-right: 2.5rem;
}
.cid-tDG6eYqUJZ .carousel-control:hover {
  background: #1b1b1b;
  color: #fff;
  opacity: 1;
}
@media (max-width: 768px) {
  .cid-tDG6eYqUJZ .carousel-control,
  .cid-tDG6eYqUJZ .carousel-indicators,
  .cid-tDG6eYqUJZ .modal .close {
    position: fixed;
  }
}
@media (max-width: 767px) {
  .cid-tDG6eYqUJZ .mbr-slider .carousel-control {
    top: auto;
    bottom: 20px;
  }
  .cid-tDG6eYqUJZ .mbr-slider > .container .carousel-control {
    margin-bottom: 0;
  }
}
.cid-tDG6eYqUJZ .carousel-indicators .active,
.cid-tDG6eYqUJZ .carousel-indicators li {
  width: 7px;
  height: 7px;
  margin: 3px;
  background: #000000;
  opacity: 0.5;
  border: 4px solid #000000;
}
.cid-tDG6eYqUJZ .carousel-indicators .active {
  background: #fff;
}
.cid-tDG6eYqUJZ .carousel-indicators li {
  max-width: 15px;
  max-height: 15px;
  border-radius: 50%;
}
.cid-tDG6eYqUJZ .modal {
  padding-left: 0 !important;
  position: fixed;
  overflow: hidden;
  padding-right: 0 !important;
}
.cid-tDG6eYqUJZ .modal-dialog {
  margin: 0 auto;
  max-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}
.cid-tDG6eYqUJZ .modal-content {
  border-radius: 0;
  border: none;
  background: transparent;
}
.cid-tDG6eYqUJZ .modal-body {
  padding: 0;
  display: flex;
  align-items: center;
}
.cid-tDG6eYqUJZ .modal-body img {
  width: 100%;
  object-fit: contain;
  max-height: calc(100vh - 1.75rem);
}
.cid-tDG6eYqUJZ .carousel {
  width: 100%;
}
.cid-tDG6eYqUJZ .modal-backdrop.in {
  opacity: 0.8;
}
.cid-tDG6eYqUJZ .modal.fade .modal-dialog {
  transition: margin-top 0.3s ease-out;
}
.cid-tDG6eYqUJZ .modal.fade .modal-dialog,
.cid-tDG6eYqUJZ .modal.in .modal-dialog {
  transform: none;
}
.cid-tDG6eYqUJZ .mbr-gallery .item-wrapper {
  cursor: pointer;
}
.cid-tDG6eYqUJZ H6 {
  text-align: center;
}
.cid-t8KoBTE9Dz {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-t8KoBTE9Dz .mbr-fallback-image.disabled {
  display: none;
}
.cid-t8KoBTE9Dz .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-t8KoBTE9Dz .content-wrapper {
  background: #fafafa;
}
@media (max-width: 991px) {
  .cid-t8KoBTE9Dz .content-wrapper .row {
    flex-direction: column-reverse;
  }
  .cid-t8KoBTE9Dz .content-wrapper .image-wrapper {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-t8KoBTE9Dz .content-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-t8KoBTE9Dz .content-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-t8KoBTE9Dz .content-wrapper {
    padding: 5rem 3rem;
  }
  .cid-t8KoBTE9Dz .content-wrapper .text-wrapper {
    padding-right: 2rem;
  }
}
.cid-t8KoBTE9Dz .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-t8KoCF1D1w {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-t8KoCF1D1w .mbr-fallback-image.disabled {
  display: none;
}
.cid-t8KoCF1D1w .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-t8KoCF1D1w .content-wrapper {
  background: #fafafa;
}
@media (max-width: 991px) {
  .cid-t8KoCF1D1w .content-wrapper .image-wrapper {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-t8KoCF1D1w .content-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-t8KoCF1D1w .content-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-t8KoCF1D1w .content-wrapper {
    padding: 5rem 3rem;
  }
  .cid-t8KoCF1D1w .content-wrapper .text-wrapper {
    padding-left: 2rem;
  }
}
.cid-t8KoCF1D1w .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-t8KoDcCkkL {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-t8KoDcCkkL .mbr-fallback-image.disabled {
  display: none;
}
.cid-t8KoDcCkkL .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-t8KoDcCkkL .content-wrapper {
  background: #fafafa;
}
@media (max-width: 991px) {
  .cid-t8KoDcCkkL .content-wrapper .row {
    flex-direction: column-reverse;
  }
  .cid-t8KoDcCkkL .content-wrapper .image-wrapper {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-t8KoDcCkkL .content-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-t8KoDcCkkL .content-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-t8KoDcCkkL .content-wrapper {
    padding: 5rem 3rem;
  }
  .cid-t8KoDcCkkL .content-wrapper .text-wrapper {
    padding-right: 2rem;
  }
}
.cid-t8KoDcCkkL .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-t8KoEaN71C {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-t8KoEaN71C .mbr-fallback-image.disabled {
  display: none;
}
.cid-t8KoEaN71C .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-t8KoEaN71C .content-wrapper {
  background: #fafafa;
}
@media (max-width: 991px) {
  .cid-t8KoEaN71C .content-wrapper .image-wrapper {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-t8KoEaN71C .content-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-t8KoEaN71C .content-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-t8KoEaN71C .content-wrapper {
    padding: 5rem 3rem;
  }
  .cid-t8KoEaN71C .content-wrapper .text-wrapper {
    padding-left: 2rem;
  }
}
.cid-t8KoEaN71C .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-teFpU1DDGk {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-teFpU1DDGk .mbr-fallback-image.disabled {
  display: none;
}
.cid-teFpU1DDGk .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-teFpU1DDGk .content-wrapper {
  background: #fafafa;
}
@media (max-width: 991px) {
  .cid-teFpU1DDGk .content-wrapper .row {
    flex-direction: column-reverse;
  }
  .cid-teFpU1DDGk .content-wrapper .image-wrapper {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-teFpU1DDGk .content-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-teFpU1DDGk .content-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-teFpU1DDGk .content-wrapper {
    padding: 5rem 3rem;
  }
  .cid-teFpU1DDGk .content-wrapper .text-wrapper {
    padding-right: 2rem;
  }
}
.cid-teFpU1DDGk .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-t8UxCbzSwy {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-t8UxCbzSwy .mbr-fallback-image.disabled {
  display: none;
}
.cid-t8UxCbzSwy .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-t8UxCbzSwy .content-wrapper {
  background: #fafafa;
}
@media (max-width: 991px) {
  .cid-t8UxCbzSwy .content-wrapper .image-wrapper {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-t8UxCbzSwy .content-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-t8UxCbzSwy .content-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-t8UxCbzSwy .content-wrapper {
    padding: 5rem 3rem;
  }
  .cid-t8UxCbzSwy .content-wrapper .text-wrapper {
    padding-left: 2rem;
  }
}
.cid-t8UxCbzSwy .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-teFns1W2od {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-teFns1W2od .mbr-fallback-image.disabled {
  display: none;
}
.cid-teFns1W2od .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-teFns1W2od .content-wrapper {
  background: #fafafa;
}
@media (max-width: 991px) {
  .cid-teFns1W2od .content-wrapper .row {
    flex-direction: column-reverse;
  }
  .cid-teFns1W2od .content-wrapper .image-wrapper {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-teFns1W2od .content-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-teFns1W2od .content-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-teFns1W2od .content-wrapper {
    padding: 5rem 3rem;
  }
  .cid-teFns1W2od .content-wrapper .text-wrapper {
    padding-right: 2rem;
  }
}
.cid-teFns1W2od .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-tFbeD83r1Y {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-tFbeD83r1Y .mbr-overlay {
  background-color: #ffffff;
  opacity: 0.4;
}
.cid-tFbeD83r1Y form .mbr-section-btn {
  text-align: center;
  width: 100%;
}
.cid-tFbeD83r1Y form .mbr-section-btn .btn {
  display: inline-flex;
}
@media (max-width: 991px) {
  .cid-tFbeD83r1Y form .mbr-section-btn .btn {
    width: 100%;
  }
}
.cid-tFbfiPRPLr {
  background-image: url("../../../assets/images/privacy-1536x1024.webp");
}
.cid-tFbfiPRPLr .mbr-fallback-image.disabled {
  display: none;
}
.cid-tFbfiPRPLr .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tFbfiQ7IOs {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tFbfiQ7IOs .mbr-fallback-image.disabled {
  display: none;
}
.cid-tFbfiQ7IOs .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tFbfiQ7IOs ul {
  list-style: none;
  margin: 0;
  padding-left: 2.5rem;
}
.cid-tFbfiQ7IOs li {
  position: relative;
  margin-bottom: 1rem;
}
.cid-tFbfiQ7IOs ul li::before {
  position: absolute;
  left: -1.6rem;
  content: "\2022";
  color: #fd5b78;
  font-weight: bold;
  font-size: 2rem;
  width: 1.6rem;
}
.cid-tFX8DIeQiW {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tFX8DIeQiW .mbr-fallback-image.disabled {
  display: none;
}
.cid-tFX8DIeQiW .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tFX8DIeQiW ul {
  list-style: none;
  margin: 0;
  padding-left: 2.5rem;
}
.cid-tFX8DIeQiW li {
  position: relative;
  margin-bottom: 1rem;
}
.cid-tFX8DIeQiW ul li::before {
  position: absolute;
  left: -1.6rem;
  content: "\2022";
  color: #fd5b78;
  font-weight: bold;
  font-size: 2rem;
  width: 1.6rem;
}
.cid-tFK3aMpEaQ {
  background-image: url("../../../assets/images/background15-2000x1335.webp");
}
.cid-tFK3aMpEaQ .mbr-fallback-image.disabled {
  display: none;
}
.cid-tFK3aMpEaQ .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tFK3aMpEaQ .social-row .soc-item {
  display: inline-block;
  text-align: center;
  margin-bottom: 1rem;
  margin-right: .7rem;
}
.cid-tFK3aMpEaQ .social-row .soc-item .mbr-iconfont {
  font-size: 32px;
  border-radius: 50%;
  padding: 0.6rem;
  border: 2px solid #232323;
  transition: all 0.3s;
  color: #232323;
}
.cid-tFK3aMpEaQ .social-row .soc-item .mbr-iconfont:hover {
  background-color: #232323;
  color: #ffffff;
}
.cid-tFK3aMpEaQ .mbr-section-title {
  text-align: left;
}
.cid-tFK3aMGVGY {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-image: url("../../../assets/images/background3.webp");
}
.cid-tFK3aMGVGY .mbr-overlay {
  background: #fafafa;
  opacity: 0.6;
}
.cid-tFK3aMGVGY img,
.cid-tFK3aMGVGY .item-img {
  width: 100%;
  height: 100%;
  height: 300px;
  object-fit: cover;
}
.cid-tFK3aMGVGY .item:focus,
.cid-tFK3aMGVGY span:focus {
  outline: none;
}
.cid-tFK3aMGVGY .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-tFK3aMGVGY .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #ffffff;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-tFK3aMGVGY .item-wrapper .item-content {
    padding: 2rem 2rem 0;
  }
  .cid-tFK3aMGVGY .item-wrapper .item-footer {
    padding: 0 2rem 2rem;
  }
}
@media (max-width: 991px) {
  .cid-tFK3aMGVGY .item-wrapper .item-content {
    padding: 1rem 1rem 0;
  }
  .cid-tFK3aMGVGY .item-wrapper .item-footer {
    padding: 0 1rem 1rem;
  }
}
.cid-tFK3aMGVGY .mbr-section-btn {
  margin-top: auto !important;
}
.cid-tFK3aMGVGY .mbr-section-title {
  color: #232323;
}
.cid-tFK3aMGVGY .mbr-text,
.cid-tFK3aMGVGY .mbr-section-btn {
  text-align: left;
}
.cid-tFK3aMGVGY .item-title {
  text-align: left;
}
.cid-tFK3aMGVGY .item-subtitle {
  text-align: left;
  color: #bbbbbb;
}
.cid-tFK3H4R0Oz {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-tFK3H4R0Oz .mbr-fallback-image.disabled {
  display: none;
}
.cid-tFK3H4R0Oz .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tFK3H4R0Oz .content-wrapper {
  background: #fafafa;
}
@media (max-width: 991px) {
  .cid-tFK3H4R0Oz .content-wrapper .row {
    flex-direction: column-reverse;
  }
  .cid-tFK3H4R0Oz .content-wrapper .image-wrapper {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-tFK3H4R0Oz .content-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-tFK3H4R0Oz .content-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-tFK3H4R0Oz .content-wrapper {
    padding: 5rem 3rem;
  }
  .cid-tFK3H4R0Oz .content-wrapper .text-wrapper {
    padding-right: 2rem;
  }
}
.cid-tFK3H4R0Oz .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-tFK3H5mti7 {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-tFK3H5mti7 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tFK3H5mti7 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tFK3H5mti7 .content-wrapper {
  background: #fafafa;
}
@media (max-width: 991px) {
  .cid-tFK3H5mti7 .content-wrapper .image-wrapper {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-tFK3H5mti7 .content-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-tFK3H5mti7 .content-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-tFK3H5mti7 .content-wrapper {
    padding: 5rem 3rem;
  }
  .cid-tFK3H5mti7 .content-wrapper .text-wrapper {
    padding-left: 2rem;
  }
}
.cid-tFK3H5mti7 .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-tFK3H5y45Z {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-tFK3H5y45Z .mbr-fallback-image.disabled {
  display: none;
}
.cid-tFK3H5y45Z .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tFK3H5y45Z .content-wrapper {
  background: #fafafa;
}
@media (max-width: 991px) {
  .cid-tFK3H5y45Z .content-wrapper .row {
    flex-direction: column-reverse;
  }
  .cid-tFK3H5y45Z .content-wrapper .image-wrapper {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-tFK3H5y45Z .content-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-tFK3H5y45Z .content-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-tFK3H5y45Z .content-wrapper {
    padding: 5rem 3rem;
  }
  .cid-tFK3H5y45Z .content-wrapper .text-wrapper {
    padding-right: 2rem;
  }
}
.cid-tFK3H5y45Z .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-tFK3H5LtQV {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-tFK3H5LtQV .mbr-fallback-image.disabled {
  display: none;
}
.cid-tFK3H5LtQV .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tFK3H5LtQV .content-wrapper {
  background: #fafafa;
}
@media (max-width: 991px) {
  .cid-tFK3H5LtQV .content-wrapper .image-wrapper {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-tFK3H5LtQV .content-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-tFK3H5LtQV .content-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-tFK3H5LtQV .content-wrapper {
    padding: 5rem 3rem;
  }
  .cid-tFK3H5LtQV .content-wrapper .text-wrapper {
    padding-left: 2rem;
  }
}
.cid-tFK3H5LtQV .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-tFK3H665N6 {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-tFK3H665N6 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tFK3H665N6 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tFK3H665N6 .content-wrapper {
  background: #fafafa;
}
@media (max-width: 991px) {
  .cid-tFK3H665N6 .content-wrapper .row {
    flex-direction: column-reverse;
  }
  .cid-tFK3H665N6 .content-wrapper .image-wrapper {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-tFK3H665N6 .content-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-tFK3H665N6 .content-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-tFK3H665N6 .content-wrapper {
    padding: 5rem 3rem;
  }
  .cid-tFK3H665N6 .content-wrapper .text-wrapper {
    padding-right: 2rem;
  }
}
.cid-tFK3H665N6 .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-tFK3H6qAO4 {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-tFK3H6qAO4 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tFK3H6qAO4 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tFK3H6qAO4 .content-wrapper {
  background: #fafafa;
}
@media (max-width: 991px) {
  .cid-tFK3H6qAO4 .content-wrapper .image-wrapper {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-tFK3H6qAO4 .content-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-tFK3H6qAO4 .content-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-tFK3H6qAO4 .content-wrapper {
    padding: 5rem 3rem;
  }
  .cid-tFK3H6qAO4 .content-wrapper .text-wrapper {
    padding-left: 2rem;
  }
}
.cid-tFK3H6qAO4 .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-tFK3H6DNWa {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-tFK3H6DNWa .mbr-fallback-image.disabled {
  display: none;
}
.cid-tFK3H6DNWa .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tFK3H6DNWa .content-wrapper {
  background: #fafafa;
}
@media (max-width: 991px) {
  .cid-tFK3H6DNWa .content-wrapper .row {
    flex-direction: column-reverse;
  }
  .cid-tFK3H6DNWa .content-wrapper .image-wrapper {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-tFK3H6DNWa .content-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-tFK3H6DNWa .content-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-tFK3H6DNWa .content-wrapper {
    padding: 5rem 3rem;
  }
  .cid-tFK3H6DNWa .content-wrapper .text-wrapper {
    padding-right: 2rem;
  }
}
.cid-tFK3H6DNWa .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-tFK3INux2i {
  background-color: #bed3f9;
}
.cid-tFK3INux2i .mbr-fallback-image.disabled {
  display: none;
}
.cid-tFK3INux2i .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tFK3INux2i .row {
  flex-direction: row-reverse;
}
@media (max-width: 991px) {
  .cid-tFK3INux2i .image-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-tFK3INux2i .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
@media (min-width: 992px) {
  .cid-tFK3INux2i .text-wrapper {
    padding: 0 2rem;
  }
}
@media (max-width: 768px) {
  .cid-tFK3INux2i .text-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-tFK3INNbcO {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tFK3INTYIJ {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tFK3INTYIJ .mbr-fallback-image.disabled {
  display: none;
}
.cid-tFK3INTYIJ .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tFK3INTYIJ .item {
  padding-bottom: 2rem;
}
.cid-tFK3INTYIJ .item-wrapper {
  position: relative;
}
.cid-tFK3INTYIJ .item-wrapper .icon-wrapper {
  pointer-events: none;
  position: absolute;
  width: 60px;
  height: 60px;
  font-size: 22px;
  left: 50%;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #ffffff;
  border-radius: 50%;
  opacity: 0;
  color: #ffffff;
  transform: translateX(-50%) translateY(-50%);
  background-color: #1b1b1b;
  transition: 0.2s;
}
.cid-tFK3INTYIJ .item-wrapper:hover .icon-wrapper {
  opacity: 0.7;
}
.cid-tFK3INTYIJ .carousel-control,
.cid-tFK3INTYIJ .close {
  background: #1b1b1b;
}
.cid-tFK3INTYIJ .carousel-control-prev {
  margin-left: 2.5rem;
}
.cid-tFK3INTYIJ .carousel-control-prev span {
  margin-right: 5px;
}
.cid-tFK3INTYIJ .carousel-control-next {
  margin-right: 2.5rem;
}
.cid-tFK3INTYIJ .carousel-control-next span {
  margin-left: 5px;
}
.cid-tFK3INTYIJ .close {
  position: fixed;
  opacity: 0.5;
  font-size: 22px;
  font-weight: 300;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #fff;
  top: 2.5rem;
  right: 2.5rem;
  border: 2px solid #fff;
  text-shadow: none;
  z-index: 5;
  transition: opacity 0.3s ease;
  font-family: 'Moririse2';
  align-items: center;
  justify-content: center;
  display: flex;
}
.cid-tFK3INTYIJ .close::before {
  content: '\e91a';
}
.cid-tFK3INTYIJ .close:hover {
  opacity: 1;
  background: #000;
  color: #fff;
}
.cid-tFK3INTYIJ .carousel-control {
  display: flex;
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
}
.cid-tFK3INTYIJ .carousel-control.carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-tFK3INTYIJ .carousel-control.carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-tFK3INTYIJ .carousel-control {
    top: auto;
    bottom: 1rem;
  }
}
.cid-tFK3INTYIJ .carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-bottom: 3px;
}
.cid-tFK3INTYIJ .carousel-indicators li {
  max-width: 15px;
  height: 15px;
  width: 15px;
  max-height: 15px;
  margin: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: 0.5;
  transition: all 0.3s;
}
.cid-tFK3INTYIJ .carousel-indicators li.active,
.cid-tFK3INTYIJ .carousel-indicators li:hover {
  opacity: 0.9;
}
.cid-tFK3INTYIJ .carousel-indicators li::after,
.cid-tFK3INTYIJ .carousel-indicators li::before {
  content: none;
}
.cid-tFK3INTYIJ .carousel-indicators.ie-fix {
  left: 50%;
  display: block;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
@media (max-width: 768px) {
  .cid-tFK3INTYIJ .carousel-indicators {
    display: none !important;
  }
}
@media (max-width: 991px) {
  .cid-tFK3INTYIJ .carousel-indicators {
    margin-bottom: 3.625rem !important;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
@media (max-width: 767px) {
  .cid-tFK3INTYIJ .carousel-indicators {
    display: none;
  }
}
.cid-tFK3INTYIJ .carousel-inner {
  display: flex;
  align-items: center;
}
.cid-tFK3INTYIJ .carousel-inner > .active {
  display: block;
}
.cid-tFK3INTYIJ .carousel-control.left {
  left: 0;
  margin-left: 2.5rem;
}
.cid-tFK3INTYIJ .carousel-control.right {
  right: 0;
  margin-right: 2.5rem;
}
.cid-tFK3INTYIJ .carousel-control:hover {
  background: #1b1b1b;
  color: #fff;
  opacity: 1;
}
@media (max-width: 768px) {
  .cid-tFK3INTYIJ .carousel-control,
  .cid-tFK3INTYIJ .carousel-indicators,
  .cid-tFK3INTYIJ .modal .close {
    position: fixed;
  }
}
@media (max-width: 767px) {
  .cid-tFK3INTYIJ .mbr-slider .carousel-control {
    top: auto;
    bottom: 20px;
  }
  .cid-tFK3INTYIJ .mbr-slider > .container .carousel-control {
    margin-bottom: 0;
  }
}
.cid-tFK3INTYIJ .carousel-indicators .active,
.cid-tFK3INTYIJ .carousel-indicators li {
  width: 7px;
  height: 7px;
  margin: 3px;
  background: #000000;
  opacity: 0.5;
  border: 4px solid #000000;
}
.cid-tFK3INTYIJ .carousel-indicators .active {
  background: #fff;
}
.cid-tFK3INTYIJ .carousel-indicators li {
  max-width: 15px;
  max-height: 15px;
  border-radius: 50%;
}
.cid-tFK3INTYIJ .modal {
  padding-left: 0 !important;
  position: fixed;
  overflow: hidden;
  padding-right: 0 !important;
}
.cid-tFK3INTYIJ .modal-dialog {
  margin: 0 auto;
  max-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}
.cid-tFK3INTYIJ .modal-content {
  border-radius: 0;
  border: none;
  background: transparent;
}
.cid-tFK3INTYIJ .modal-body {
  padding: 0;
  display: flex;
  align-items: center;
}
.cid-tFK3INTYIJ .modal-body img {
  width: 100%;
  object-fit: contain;
  max-height: calc(100vh - 1.75rem);
}
.cid-tFK3INTYIJ .carousel {
  width: 100%;
}
.cid-tFK3INTYIJ .modal-backdrop.in {
  opacity: 0.8;
}
.cid-tFK3INTYIJ .modal.fade .modal-dialog {
  transition: margin-top 0.3s ease-out;
}
.cid-tFK3INTYIJ .modal.fade .modal-dialog,
.cid-tFK3INTYIJ .modal.in .modal-dialog {
  transform: none;
}
.cid-tFK3INTYIJ .mbr-gallery .item-wrapper {
  cursor: pointer;
}
.cid-tFK3INTYIJ H6 {
  text-align: center;
}
.cid-tFK3RwnKUI {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-tFK3RwnKUI .mbr-overlay {
  background-color: #ffffff;
  opacity: 0.4;
}
.cid-tFK3RwnKUI form .mbr-section-btn {
  text-align: center;
  width: 100%;
}
.cid-tFK3RwnKUI form .mbr-section-btn .btn {
  display: inline-flex;
}
@media (max-width: 991px) {
  .cid-tFK3RwnKUI form .mbr-section-btn .btn {
    width: 100%;
  }
}
.cid-tFX2kVD2DS {
  background-image: url("../../../assets/images/background15-2000x1335.webp");
}
.cid-tFX2kVD2DS .mbr-fallback-image.disabled {
  display: none;
}
.cid-tFX2kVD2DS .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tFX2kVD2DS .social-row .soc-item {
  display: inline-block;
  text-align: center;
  margin-bottom: 1rem;
  margin-right: .7rem;
}
.cid-tFX2kVD2DS .social-row .soc-item .mbr-iconfont {
  font-size: 32px;
  border-radius: 50%;
  padding: 0.6rem;
  border: 2px solid #232323;
  transition: all 0.3s;
  color: #232323;
}
.cid-tFX2kVD2DS .social-row .soc-item .mbr-iconfont:hover {
  background-color: #232323;
  color: #ffffff;
}
.cid-tFX2kVD2DS .mbr-section-title {
  text-align: left;
}
.cid-tFX2kVZpHT {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-image: url("../../../assets/images/background3.webp");
}
.cid-tFX2kVZpHT .mbr-overlay {
  background: #fafafa;
  opacity: 0.6;
}
.cid-tFX2kVZpHT img,
.cid-tFX2kVZpHT .item-img {
  width: 100%;
  height: 100%;
  height: 300px;
  object-fit: cover;
}
.cid-tFX2kVZpHT .item:focus,
.cid-tFX2kVZpHT span:focus {
  outline: none;
}
.cid-tFX2kVZpHT .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-tFX2kVZpHT .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #ffffff;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-tFX2kVZpHT .item-wrapper .item-content {
    padding: 2rem 2rem 0;
  }
  .cid-tFX2kVZpHT .item-wrapper .item-footer {
    padding: 0 2rem 2rem;
  }
}
@media (max-width: 991px) {
  .cid-tFX2kVZpHT .item-wrapper .item-content {
    padding: 1rem 1rem 0;
  }
  .cid-tFX2kVZpHT .item-wrapper .item-footer {
    padding: 0 1rem 1rem;
  }
}
.cid-tFX2kVZpHT .mbr-section-btn {
  margin-top: auto !important;
}
.cid-tFX2kVZpHT .mbr-section-title {
  color: #232323;
}
.cid-tFX2kVZpHT .mbr-text,
.cid-tFX2kVZpHT .mbr-section-btn {
  text-align: left;
}
.cid-tFX2kVZpHT .item-title {
  text-align: left;
}
.cid-tFX2kVZpHT .item-subtitle {
  text-align: left;
  color: #bbbbbb;
}
.cid-tFX9KWPehS {
  background-image: url("../../../assets/images/privacy-1536x1024.webp");
}
.cid-tFX9KWPehS .mbr-fallback-image.disabled {
  display: none;
}
.cid-tFX9KWPehS .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tFX9KX6Z3C {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tFX9KX6Z3C .mbr-fallback-image.disabled {
  display: none;
}
.cid-tFX9KX6Z3C .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tFX9KX6Z3C ul {
  list-style: none;
  margin: 0;
  padding-left: 2.5rem;
}
.cid-tFX9KX6Z3C li {
  position: relative;
  margin-bottom: 1rem;
}
.cid-tFX9KX6Z3C ul li::before {
  position: absolute;
  left: -1.6rem;
  content: "\2022";
  color: #fd5b78;
  font-weight: bold;
  font-size: 2rem;
  width: 1.6rem;
}
.cid-tFX9KXhFHS {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tFX9KXhFHS .mbr-fallback-image.disabled {
  display: none;
}
.cid-tFX9KXhFHS .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tFX9KXhFHS ul {
  list-style: none;
  margin: 0;
  padding-left: 2.5rem;
}
.cid-tFX9KXhFHS li {
  position: relative;
  margin-bottom: 1rem;
}
.cid-tFX9KXhFHS ul li::before {
  position: absolute;
  left: -1.6rem;
  content: "\2022";
  color: #fd5b78;
  font-weight: bold;
  font-size: 2rem;
  width: 1.6rem;
}
